
  @import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@700&display=swap');


body {
    background-color: #fafafa;
    color: black;

    height: 100vh;
    margin: 0;
    transition: background-color 0.2s linear;

}
body.dark{
    background: #232c35;
    color: white;
}

    /* INICIO DA PARTE DA LOGO E NOME DO SITE */
header{
    box-shadow: 1px 1px 30px black;
    border-radius: 0px 0px 50px 50px;
}


#inicio{
    display: flex;
    justify-content: center;
    text-align: center;

}
header h1 {
    background-color: #008B8B;
    color: white;
    font-size: 30px;
    width: 550px;   
    padding: 11px 0px 11px 0px;
    border-radius: 12px 150px 12px 150px;
    border: 1px solid black;
    box-shadow: 1px 1px 30px black;
    font-family: 'Noto Serif', serif;
}
#logo1{
    position: absolute;
        top: 20px; 
        right: 25px;
    height: 60px;
}
#logo2{
    position: absolute;
        top: 20px; 
        left: 25px;
    height: 60px;
}
    /* FIM DA PARTE DA LOGO E NOME DO SITE */

#menu{
    float: left;
    position: relative;
        top: 55px;
        left: 250px;
    width: 0px;

}
ul{
    list-style: none;
    display: flex;
    margin-right: 100px;
    font-family: 'Noto Serif', serif;
    font-size: 18px;
}
li a{
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    color: #008B8B;
}
a:hover{
    color: #4682B4;
}
.menu-autores{
    position: absolute;
        right: 50px;
        bottom: 20px;

}
/* .menu-livros{
    position: absolute;
        left: 980px;
        bottom: 50px;

} */


    /* INICIO DA PARTE DOS LIVROS DA SEMANA */
#destaques-semana {
    display: flex;
    justify-content: center;
    text-align: center;
    
}
#destaques-semana h2{
    background-color: #008B8B;
    width: 800px;
    border-radius: 20px;
    padding: 7px 0px 7px 0px;
    border: 1px solid black;
    box-shadow: 1px 1px 30px black;
    font-family: 'Noto Serif', serif;
    color: white;

    
}
#livros-destaque-semana{
    display: flex;
    justify-content: center;
}


#livros-destaque-semana img{
    border-radius: 15px;
    border: 1px solid black;
    box-shadow: 0px 0px 30px black;
    width: 100%;

}
.espaço-entre-livros{
    display: inline-block;
    margin-right: 10px;
}
    /* FIM DA PARTE DOS LIVROS DA SEMANA */

    /* INICIO DA PARTE DOS LIVROS MAIS PROCURADOS DE HOJE */
#nome-procurados-de-hoje{
    height: 10px;
    margin-top: 0px;
    margin-bottom: 50px;
    
}
#nome-procurados-de-hoje p{
    width: 390px;
    padding: 10px;
    position: relative;
        left: 35px;
    font-size: 22px;
    font-family: 'Noto Serif', serif;
    
}
#corpo{
    display: flex;
    justify-content: center;
    width: 92%;
    padding-bottom: 50px;
    position: relative;
        left: 4%;
        right: 4%;
    box-shadow: 1px 1px 30px black;
    border-radius: 30px;
}
#corpo-de-dentro{
    overflow: hidden;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    position: relative;
        top: 30px;
}
.bloco-preto{
    background-color: rgb(0, 0, 0, 0.9 );
    float: left;
    width: 380px;
    height: 350px;
    border-radius: 20px;
    margin-right: 15px;
    margin-top: 15px;
}
.bloco-preto p2{
    color: white;
    font-size: 15px;
    position: relative;
       top: 22px;
       left: 5px;
    text-align: justify;
}
.bloco-preto hr{
    position: relative;
        top: 20px;
}
.barra-azul{
    background-color: #008B8B;
    width: 84%;
    height: 85px;
    position: relative;
        left: 5%;
        right: 8%;
        bottom: 25px;
    border-radius: 20px;
}
.barra-azul img{
    width: 100px;
    height: 150px;
    border-radius: 10px;
    position: relative;
        bottom: 115px;
        left: 190px;
}
.barra-azul h5{
    position: relative;
        top: 15px;
        left: 10px;
    text-align: justify;
    font-size: 15px;
    color: white;
}
.barra-azul p{
    position: relative;
        left: 20px;
        bottom: 2px;
}
.icones{
    position: relative;
        top: 10px;
        left: 340px;
}

.livrosMexendo{
    transition: 0.5;
}
.livrosMexendo:hover{
    transform: scale(1.1);
}

::-webkit-scrollbar{
    width: 8px;
}
::-webkit-scrollbar-thumb{
    background-color: #008B8B;
    border-radius: 30px;
}

        /* NICIO DO RODAPÉ */

footer{
    text-align: center;
    font-family: 'Noto Serif', serif;
    padding: 20px 50px 20px 50px;
    margin-top: 15px;
    box-shadow: 1px 1px 30px black;
    border-radius: 15px 15px 0px 0px;
}

/* dark-mode */

.checkbox{
    opacity: 0;
    position: absolute;
}
.label{
    background-color: #111;
    border-radius: 50px;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 5px;
    position: absolute;
        top: 40px;
        right: 200px;
    height: 18px;
    width: 45px;

    transform: scale(1.5);
}

.label .bola{
    background-color: #4682B4;
    border-radius: 50%;
    position: absolute;
        top: 2px;
        left: 2px;

    height: 24px;
    width: 22px;
    
    transform: translateX(0px);
    transition: transform 0.2s linear;

}

.checkbox:checked + .label .bola {
    transform: translateX(29px);
}

.fa-moon{
    color: #f1c40f;
}
.fa-sun{
    color: #f39c12;
}

/* teste de responsividade */

main{

    min-width: 300px;
    max-width: 1366px;
    margin: auto;
}
